
:root{
  --handwriting: 'Patrick Hand', cursive;
  --neon-text-color: #f40;
  --neon-border-color: #08f;
}


*{
  font-family:'Patrick Hand';
 
}

body {
  background: white;
  margin: 0px;
  font-family:'Patrick Hand';

}

.change-theme-text{
  font-family:'Patrick Hand';
  display:flex;
  justify-content: center;
  font-size: 25px;
  margin-bottom: 10px;
}

label {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.binder-paper{
display:flex;
flex-direction:row;
border-top: 2px solid #9198e5;
}

.page-header{
  display:flex;
  flex-direction:row;
}

  .fake-margin {
    display: flex;
    border-right: 2px solid pink;
    min-width: 233px;
    max-width: 233px;
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .page-header.canvas .fake-margin{
    border-right: 2px solid white;
  }

  .page-header.neon .fake-margin{
    border-right: none;
  }





  .left-margin.neon, .left-margin.canvas{
    border-right: none;
  }

  /* .left-margin.neon{
    background: linear-gradient(0deg, #000, #272727);
  } */
/* .left-margin.notebook:before{
  content: '';
    position: inherit;
  height: calc(4% + 4px);
  z-index: 0;
} */

  .left-margin.neon:before{
    content: '';
    position: inherit;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
      #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    /* height: calc(6% + 4px); */
    z-index: 0;
    animation: steam 20s linear infinite;
  }

  .projectsCanvas .heading-titles{
    padding-left:15px;
    font-family: 'Titan One',cursive;
    color: deepskyblue;
  }

  .fullSheet.canvas .right-about-me{
    /* font-family: 'Titan One',cursive; */
    color: black;
    font-size: 20px;
  }

  .fullSheet.canvas .heading-subtitles{
    font-family: 'Titan One',cursive;
    color: deepskyblue;
  }

  .fullSheet.notebook .projectsNeon{
    display:none;
  }

  .fullSheet.neon .projectsCanvas{
    display:none;
  }

  .fullSheet.notebook .projectsCanvas{
    display:none;
  }

  .fullSheet.canvas .projectsNeon{
    display:none;
  }

  .page-header.notebook .blobText, .page-header.neon .blobText{
    display:none;
  }

  .page-header.notebook .neon-title{
    display:none;
  }
  .page-header.canvas .neon-title{
    display:none;
  }




.left-margin.neon:after{
    content: '';
    position: inherit;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
      #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: 0;
    animation: steam 20s linear infinite;
  }


@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.left-margin.neon:before, .left-margin.neon:after {
	filter: blur(50px);
}


  .left-margin.canvas, 
  .page-header.canvas .fake-margin,
  .page-header.canvas{
    background: white;
  }

  .binder-paper.neon, .binder-paper.canvas{
    border-top:none;
  }

  .page-header.neon{
    background-color:black;
    z-index:-1;
  }


select {
  width: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
  height: 40px;
  font-size: 23px;
  color: white;
    background-color: red;
    border: 1px dashed white;
}



.left-margin{
  max-width:233px;
  background: repeating-linear-gradient(white, white 25px, #9198e5 26px, #9198e5 27px);
  display:flex;
  border-right: 2px solid pink;
  flex-direction:column;
}
.navigation{
  margin-top:15px;
  
}

.neon .navigation{
  /* position:absolute; */
  background-color:black;
}
.nav-items{
  max-width:213px;
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  font-family:'Patrick Hand';
  text-transform:uppercase;
  letter-spacing:5px;
  padding-left: 20px;
}

.nav-link {
  text-align: left;
  margin-bottom: 32px;
  font-size:16px;
}

li.nav-link:nth-child(4) {
  margin-bottom: 0px;
}

a li.nav-link.projects::visited{
  text-decoration: none;
}

.social-links {
  max-width: 228px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 15px;
  padding-left: 4px;
  margin-top: 8px;
}

ul.social-links {
  background-image: url('../checkerboard.png');
  /* background-color: red; */
}

.social-li a {
  text-align: center;
  justify-content: center;
  margin: auto;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 55px;
}

li.social-li {
  min-height: 55px;
  min-width: 55px;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border: 1px solid black;
  margin-bottom: 38px;
  margin-right: 19px;
}

li.social-li.dashed{
  border: 2px dashed black !Important;
}

.fullSheet{
  padding-top: 20px;
  background: repeating-linear-gradient(white, white 25px, #9198e5 26px, #9198e5 27px);
  width:100%;
}

.fullSheet.neon {
  background: black;
  color: white;
}

li.nav-link.contact {
  margin-bottom: 0;
}

a{
  text-decoration: none !important;
  color: black;
}

a:active {
  text-decoration: none !important;
}

.neon a li.nav-link.projects, .neon a li.nav-link.about {
  color: white;
}

.neon h3.project-title {
  color: white;
}

.neon p.project-description {
  color: white;
}

.notebook{
  color:black;
  
  }
  
  .neon{
    color:white;
    background:black;
  }

  .neon .circle-action{
    color:white;
  }
  
  .canvas{
    color:green;
  }

  /* .page-header.canvas{
    background-image: url("../designHands.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
  } */



  .fullSheet.canvas{
    /* background-image: url("../museum.jpg"); */
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    background:white;

  }



  .page-header.neon .text{
    color:white;
    display:none;
  }
  .page-header.canvas .text{
    color:green;
  }

p, h3, h4{
  font-family: Lora;
}

.topOfPage{
  width:100%;
  height: fit-content;
}

.todaysDate {
  display: block;
  text-align: right;
  margin-top: 20px;
  font-size: 24px;
  margin-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
}

.todaysTime {
  /* display: block; */
  text-align: right;
  margin-top: 20px;
  font-size: 24px;
  margin-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  letter-spacing:5px;
}

.page-header .todaysTime{
display:none;
}
.page-header.neon .todaysTime{
  display:block;
  }
  .page-header.neon .todaysDate{
    display:none;
  }

  .fullSheet.neon .circle,  .fullSheet.neon .circle-container,
  .fullSheet.canvas .circle,  .fullSheet.canvas .circle-container{
    display:none;
  }



/*  --------------------- liquid text  --------------------- */

.liquid-name{
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin:auto;
}


.liquid-name h2 {
  color: #fff;
  font-size: 100px;
  position: absolute;
  margin-top: 0px;
  margin-bottom: 0px;
 top: 16px;
 letter-spacing: 14px;
}

.liquid-name h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 1px #03a9f4;
  background-color: transparent;
}

.liquid-name h2:nth-child(2) {
  /* background-image: linear-gradient(to bottom, white, white, #abe4ff , #00628f); */
  /* color: linear-gradient(to bottom, #abe4ff , #00628f); */
  color: #00a6ff;
  animation: animate 4s ease-in-out infinite;
}

.canvas .liquid-name h2:nth-child(1){
  color:transparent;
  -webkit-text-stroke: 1px green;

}
.canvas .liquid-name h2:nth-child(2){
  color:green;
}

.canvas .liquid-name h2{
  display:none;
}
.neon .liquid-name h2{
  display:none;
}

.ocean-container{
  justify-content: center;
  display:flex;
}

.ocean{
  height: 100px;
    width: 800.5px;
    background-color: #00a6ff;
    position: absolute;
    top: 105px;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}



/* --------------------- scrambled text --------------------- */
@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';

.scrambled-text{
  height: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin:auto;
  flex-direction: column;
  z-index: 9999;
    position: relative;
}

.header-line::after {
  content: "";
  height: 5px;
  color: blue;
  background-color: lightskyblue;
  width: 800px !important;
  display: block;
  background-image: linear-gradient(45deg, black, blue,  transparent);
  margin-top:20px;
}

.text{
font-family: 'Roboto Mono', monospace;
  font-weight: 100;
  font-size: 28px;
  color: black;
}

.dud{
  color:grey;
}

/*----------about me--------*/
.about-me {
  max-width: 1000px;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  margin-top: 20px;
}

.left-about {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
}

.right-about {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
    padding: 25px;
    padding-top: 17px;
    line-height: 26px;
}


h2.heading-titles{
  font-size: 50px;
  padding-left: 25px;
  margin-bottom:0px;
  font-family:'Patrick Hand';
  text-transform:uppercase;
  letter-spacing:4px;
}
/* .heading-titles::after {
  content: "";
  height: 5px;
  color: blue;
  background-color: lightskyblue;
  width: 113px !important;
  display: block;
  background-image: linear-gradient(45deg, black, blue,  transparent);
} */



.heading-subtitles {
  font-size:25px;
  margin-top:15px;
  padding-left: 25px;
  font-family:'Patrick Hand';
  text-transform:uppercase;
  line-height: 29px;
}



img.sammy-about {
  max-height: 400px;
  width: auto;
}

img.neon-room{
  max-height: 400px;
  width: auto;
}

img.my-canvas{
  max-height: 400px;
  width: auto;
}

.fullSheet.neon .sammy-about{
  display:none;
}
.fullSheet.neon .my-canvas{
  display:none;
}

.fullSheet.notebook .neon-room{
  display:none;
}
.fullSheet.notebook .my-canvas{
  display:none;
}

.fullSheet.canvas .neon-room{
  display:none;
}
.fullSheet.canvas .sammy-about{
  display:none;
}




.right-about-me {
  margin-bottom: 25px;
  margin-top: 0px;
  font-size: 20px;
  line-height: 27px;
}

br{
  margin-bottom:15px;
}


/*------------------projects grid----------*/
.project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
  max-width: 1440px;
  margin-bottom: 60px;
}

.fullSheet.canvas .project-container{
  background:deepskyblue;

}

.project-link{
  color:black;
  text-decoration: none;
  
}


/* .project-block {
  display: flex;
  flex-direction: column;
  margin: 10px;
  max-width: 250px;
    min-width: 250px;
  padding: 20px;
} */

.project-block:hover{
  background-color: rgba(251, 255, 0, 0.2);
  transition: .2s ease-in-out;
}

.binder-paper.neon .project-block:hover{
  background-color:transparent;
}


.project-preview {
  height: 200px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index:999;
}

h3.project-title {
  margin-bottom: 0px;
  font-style:bolder;
}

h3.project-title {
  margin-bottom: 7px;
  font-size: 20px;
}

p.project-description {
  margin-bottom: 0px;
  font-size: 17px;
}


/*-----contact-------*/


li {
  height: fit-content;
  list-style: none;
}

ul {
  display: flex;
  width: 400px;
  flex-wrap: wrap;
  text-decoration: none;
  padding-left: 0px;
  justify-content: space-evenly;
}

img.social-icon {
  transition: transform .2s;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  max-height: auto;
  max-width: 40px;
}


.social-icon:hover {
	transform: scale(1.2);
}



/*-------media queries------*/

@media(max-width: 1038px){
  .liquid-name h2{
    font-size:40px;
  }
}

@media(max-width: 799px){
  .liquid-name{
    height:45px;
  }
  .liquid-name h2{
    font-size:40px;
  }
  .about-me{
    display:flex;
    flex-direction:column;
  }
  img.sammy-about{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  img.social-icon{
    max-height: 40px;
  }
  .left-about{
    justify-content: center;
    margin: auto;
    min-width: 400px;
    justify-content: center;
  }
  
  img.sammy-about{
    width: height:100%;
  }
 
}

@media(max-width:420px){
  .liquid-name {
      height: 125px;
      text-align: center;
  }
  
  .liquid-name h2 {
      font-size: 50px;
      justify-content: center;
  }
  
  }
  .circle {
    transform: translate(-50%, -50%);
    text-align: right;
    width: fit-content !important;
    display: inline-block;
    padding-left: 220px;
    min-height: fit-content !important;
    z-index: unset;
    min-height: fit-content;
    } 
  
  .circle-action {
    display: inline-block;
    color:black;
    text-decoration: none;
    position: relative;
    padding: 14px 0;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 1;
    letter-spacing: 0.040em;
  }
  
  .circle-action svg {
    fill: none;
    stroke:red;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke-dasharray: 338;
    stroke-dashoffset: 338;
    stroke-linecap: round;
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% + 60px);
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: stroke-dashoffset 0s 0.2s, opacity 0.2s;
    z-index: -1;
  }
  
  .circle-action--active svg {
    stroke: #ff4c4c;
  }
  
  .circle-action--active svg,
  .circle-action:hover svg {
    stroke-dashoffset: 0;
    opacity: 1;
    transition: opacity 0s, stroke-dashoffset 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  section#about-me {
    margin-bottom:52px;
}

.circle-container {
  height: 64px;
}


/* blob name for canvas page */

.canvasTitleContainer{
	/* width:320px; */
	/* height:320px; */
  /* height:fit-content; */
	/* top:auto;
	left:auto; */
	transform:translate(-50%,-50%);
  /* display:block;
  position:unset; */
  height:323px;
	}

  .canvasTitle{
	background:white;
	width:246%;
	height:45%;
	margin:0;
	padding:0;
	display:flex;
	font-family:'Titan One',cursive;
	font-size:90px;
	font-weight:700;
	flex-flow:row wrap;
	align-content:center;
	justify-content:center
	}

  .canvasTitle span{width:100%;position:relative;font-family:'Titan One',cursive;color: blue;}

.canvasTitle span:before{
	background:linear-gradient(45deg,#fc5c7d,#6a82fb,#fc5c7d);
	width:100%;
	height:100%;
	display:block;
	position:absolute;
	content:"";
	mix-blend-mode:screen
	}

[class*="blobs"]
	{mix-blend-mode:color;animation:blobs 15s ease-in-out infinite alternate}

.blobs_1{
	background:#ff1493;
	width:60px;
	height:60px;
	top:1px;
	left:210px;display:block;position:absolute
	}

.blobs_2{
	background:#ff4500;
	width:80px;
	height:80px;
	top:62px;
	left:230px;display:block;position:absolute
	}

.blobs_3{
	background:#00ff00;
	width:60px;
	height:60px;
	top:17px;
	left:20px;display:block;position:absolute
	}

.blobs_4{
	background:#ff0000;
	width:100px;
	height:100px;
	top:25px;
	left:100px;display:block;position:absolute
	}


.blobs_6{
	background:#00ffff;
	width:60px;
	height:60px;
	top:8px;
	left:355px;display:block;position:absolute
	}

.blobs_7{
	background:#ff8c00;
	width:50px;
	height:50px;
	top:87px;
	left:30px;display:block;position:absolute
	}

  .blobs_8{
    background:#ff1493;
    width:60px;
    height:60px;
    top:18px;
    left:308px;display:block;position:absolute
    }
  
  .blobs_10{
    background:#00ff00;
    width:60px;
    height:60px;
    top:74px;
    left:391px;
    display:block;
    position:absolute
    }
  
  .blobs_11{
    background:#ff0000;
    width:100px;
    height:100px;
    top:2px;
    left:461px;
    display:block;
    position:absolute
    }
  
  .blobs_12{
    background:#ffff00;
    width:50px;
    height:50px;
    top:69px;
    left:586px;
    display:block;
    position:absolute
    }
  
  .blobs_13{
    background:#00ffff;
    width:60px;
    height:60px;
    top:73px;
    left:706px;
    display:block;
    position:absolute
    }

    .blobs_14{
      background:#ff1493;
      width:60px;
      height:60px;
      top:17px;
      left:637px;
      display:block;
      position:absolute
      }
  
 

@keyframes blobs{
	0%{border-radius:26% 74% 61% 39% / 54% 67% 33% 46%}
	10%{border-radius:74% 26% 47% 53% / 68% 46% 54% 32%}
	20%{border-radius:48% 52% 30% 70% / 27% 37% 63% 73%}
	30%{border-radius:73% 27% 57% 43% / 28% 67% 33% 72%}
	40%{border-radius:63% 37% 56% 44% / 25% 28% 72% 75%}
	50%{border-radius:39% 61% 70% 30% / 61% 29% 71% 39%}
	60%{border-radius:27% 73% 29% 71% / 73% 51% 49% 27%}
	70%{border-radius:39% 61% 65% 35% / 74% 65% 35% 26%}
	80%{border-radius:55% 45% 37% 63% / 38% 30% 70% 62%}
	90%{border-radius:25% 75% 70% 30% / 39% 50% 50% 61%}
	100%{border-radius:66% 34% 33% 67% / 65% 73% 27% 35%}
	}

  .blobText{
    position: absolute;
    height: 199px;
    width: 100%;
    top: 174px;
    left: 819px;
    display:flex;
  }

  .page-header.neon .liquid-name{
    display:none;
  }

  .neon-title {
    display: flex;
    justify-content: center;
    height: 120px;
}

  /*----neon name-----*/
.neonName {
  font-family: 'Kalam', cursive;

    font-size: 46px;
    font-weight: 200;
    font-style: italic;
    color: #fff;
    padding: 2rem 13rem 2.5rem;
    border: 0.4rem solid #fff;
    border-radius: 2rem;
    text-transform: uppercase;
    animation: flicker 1.5s infinite alternate;
    /* margin-top: 66px; */
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    display: inline-block;
    padding: 14px 108px;
    text-align: center;
  }

  
  .neonName::-moz-selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
  }
  
  .neonName::selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
  }
  
  .neonName:focus {
    outline: none;
  }
  
  /* Animate neon flicker */
  @keyframes flicker {
      
      0%, 25%, 56%, 100% {
        
          text-shadow:
              -0.2rem -0.2rem 1rem #fff,
              0.2rem 0.2rem 1rem #fff,
              0 0 2rem var(--neon-text-color),
              0 0 4rem var(--neon-text-color),
              0 0 6rem var(--neon-text-color),
              0 0 8rem var(--neon-text-color),
              0 0 10rem var(--neon-text-color);
          
          box-shadow:
              0 0 .5rem #fff,
              inset 0 0 .5rem #fff,
              0 0 2rem var(--neon-border-color),
              inset 0 0 2rem var(--neon-border-color),
              0 0 4rem var(--neon-border-color),
              inset 0 0 4rem var(--neon-border-color);        
      }
      
      20%, 24%, 55% {        
          text-shadow: none;
          box-shadow: none;
      }    
  }

  [class*="blobs"]
	{animation:blobs 15s ease-in-out infinite alternate}

  @keyframes blobs{
    0%{border-radius:26% 74% 61% 39% / 54% 67% 33% 46%}
    10%{border-radius:74% 26% 47% 53% / 68% 46% 54% 32%}
    20%{border-radius:48% 52% 30% 70% / 27% 37% 63% 73%}
    30%{border-radius:73% 27% 57% 43% / 28% 67% 33% 72%}
    40%{border-radius:63% 37% 56% 44% / 25% 28% 72% 75%}
    50%{border-radius:39% 61% 70% 30% / 61% 29% 71% 39%}
    60%{border-radius:27% 73% 29% 71% / 73% 51% 49% 27%}
    70%{border-radius:39% 61% 65% 35% / 74% 65% 35% 26%}
    80%{border-radius:55% 45% 37% 63% / 38% 30% 70% 62%}
    90%{border-radius:25% 75% 70% 30% / 39% 50% 50% 61%}
    100%{border-radius:66% 34% 33% 67% / 65% 73% 27% 35%}
    }

    .notebook .blobs_background_1,
    .notebook .blobs_background_2,
    .notebook .blobs_background_3,
    .notebook .blobs_background_4,
    .notebook .blobs_background_5,
    .notebook .blobs_background_6,
    .notebook .blobs_background_7
    {
      display:none;
    }

    .neon .blobs_background_1,
    .neon .blobs_background_2,
    .neon .blobs_background_3,
    .neon .blobs_background_4,
    .neon .blobs_background_5,
    .neon .blobs_background_6,
    .neon .blobs_background_7
    {
      display:none;
    }

  .blobs_background_1{
    background: #00ff00;
    width: 300px;
    height: 400px;
    /* top: 2px; */
    /* left: 461px; */
    display: block;
    position: absolute;
  }

  .blobs_background_2{
    background: #ff8c00;
    width: 300px;
    height: 400px;
    /* top: 2px; */
    /* left: 461px; */
    display: block;
    position: absolute;
    display: flex;
    flex-direction: column;
  }

  .blobs_background_3{
    background: #ff0000;
    width: 300px;
    height: 400px;
    /* top: 2px; */
    /* left: 461px; */
    display: block;
    position: absolute;
  }

  .blobs_background_4{
    background: #ff8c00;
    width: 300px;
    height: 400px;
    /* top: 2px; */
    /* left: 461px; */
    display: block;
    position: absolute;
  }

  .blobs_background_5{
    background: #ff1493;
    width: 300px;
    height: 400px;
    /* top: 2px; */
    /* left: 461px; */
    display: block;
    position: absolute;
  }

  .blobs_background_6{
    background: #ffff00;
    width: 300px;
    height: 400px;
    /* top: 2px; */
    /* left: 461px; */
    display: block;
    position: absolute;
  }

  .blobs_background_7{
    background: #00ffff;
    width: 300px;
    height: 400px;
    /* top: 2px; */
    /* left: 461px; */
    display: block;
    position: absolute;
  }

  .project-block {
    display: flex;
    flex-direction: column;
    margin: 10px;
    max-width: 250px;
      min-width: 250px;
    padding: 20px;
  }